table.liste {
    margin-top: 2rem;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table.liste th {
    padding: 1rem;
}

table.liste tr,
table.liste td {
    border-bottom: 2px solid var(--c-accent-500);
}

table.liste td {
    padding: 0.75rem 0;
    vertical-align: middle;
}
