.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 1rem;
    padding: 1rem 0;
}

.buttons .button {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 0 1rem;
}

.buttons .button .lucide {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.buttons .button .text {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: left;
}

.buttons .button .text:not(:has(+ .details)) {
    grid-row: 1 / 3;
}

.buttons .button .details {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: .8rem;
    opacity: .5;
    text-align: left;
}
