.container-min,
.container-sm,
.container,
.container-lg {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 1rem;
	padding-left: 1rem;
}

@media (min-width: 420px) {
	.container-min {
		max-width: 320px;
    }

    .container-sm {
		max-width: 380px;
    }

	.container {
		max-width: 420px;
	}
}

@media (min-width: 640px) {
	.container-min {
        max-width: 420px;
    }

    .container-sm {
        max-width: 540px;
    }

	.container {
		max-width: 640px;
	}
}

@media (min-width: 768px) {
	.container-min {
        max-width: 480px;
    }

    .container-sm {
        max-width: 640px;
    }

	.container {
		max-width: 768px;
	}
}

@media (min-width: 1024px) {
	.container-min {
        max-width: 540px;
    }

    .container-sm {
        max-width: 768px;
    }

	.container {
		max-width: 1024px;
	}
}

@media (min-width: 1280px) {
	.container-min {
        max-width: 640px;
    }

    .container-sm {
        max-width: 1024px;
    }

	.container {
		max-width: 1280px;
	}

	.container-lg {
		max-width: 1560px;
	}
}
