#titre {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

h2 {
    text-transform: capitalize;
}

h2,
h3,
h4 {
    margin: 1rem 0;
}

ul {
    padding-left: 1.5rem;
}

hr {
    height: 4px;
    width: 75px;
    border: none;
    background-color: var(--c-accent-500);
    margin: 0.5rem auto;
}

p {
    text-align: justify;
}

#maildpo {
    padding-left: 132px;
}
