@import url(colors.css);

#filtres {
    display: grid;
    grid-template-columns: repeat(5, 1fr) auto;
}

#filtres select,
#filtres button {
    display: flex;
    padding: .25rem .75rem;
    border: 2px solid var(--c-accent-500);
    font-size: 1.1rem;
    background-color: white;
    align-items: center;
    border-radius: 6px;
    transition: all 100ms;
    cursor: pointer;
}

#filtres select:hover,
#filtres select:focus {
    color: var(--c-accent-500);
}

#filtres button:hover {
    color: white;
    background-color: var(--c-accent-500);
}

#filtres select + select,
#filtres select + button {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#filtres select:has(~ select),
#filtres select:has(~ button) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#sejours {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

#sejours .sejour {
    display: grid;
    position: relative;
    width: 100%;
    padding: 1rem;
    background-color: var(--c-gray-100);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    border-radius: 6px;
    gap: 1rem;
}

#sejours .sejour .titre {
    font-size: 2rem;
    text-align: center;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

#sejours .sejour .titre a {
    text-decoration: none;
    color: inherit;
}

#sejours .sejour .titre a:hover {
    color: var(--c-accent-500);
}

#sejours .sejour .image {
    width: 100%;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    border-radius: 6px;
}

#sejours .sejour .contenu {
    display: flex;
    flex-direction: column;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#sejours .sejour .contenu p {
    margin: .25rem;
}

#sejours .sejour .contenu p .subtitle {
    font-weight: 300;
    color: var(--c-gray-500);
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
}

/*

NE PAS UTILISER vh et vw : ce sont des unités qui représentent la hauteur et largeur du navigateur
donc il ne faut pas les utiliser pour la taille des titres etc...
Si vous ne connaissez pas les unités, utilisez des PIXELS (px) ou des pourcents et c'est tout !

Si vous ne savez pas comment utiliser une règle CSS : allez sur developers.mozilla.org
C'est la doc la plus complète pour le HTML, CSS et Javascript

*/
