section{
    margin: 20px;
}


#image {
    width: 50%;
    height: 300px;
    object-fit: cover;
    grid-column: 1 / 2;
    border-radius: 6px;
}
.checked{
    color: var(--c-accent-500);
}
#sejour {
    display: grid;
    position: relative;
    width: 100%;
    padding: 1rem;
    border: 2px solid transparent;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    border-radius: 6px;
    gap: 1rem;
    transition: border 100ms;
}
.imgheberg {
    width: 15%;
    height: auto;
    border-radius: 10%;
}

.titre {
    font-size: 2rem;
    text-align: center;
    grid-row: 1 / 2;
}

hr {
    height: 4px;
    background-color: var(--c-accent-500);
    margin: 0.5rem auto;
}





