h1 {
    text-align: center;
}

#ligne {
    height: 4px;
    width: 75px;
    border: none;
    background-color: var(--c-accent-500);
    margin: 0.5rem auto;
}

.avis {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.avis:not(:last-of-type) {
    border-bottom: 2px solid var(--c-accent-500);
}

.avis .titre-avis {
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: var(--c-accent-500);
    }
}

.avis .note {
    display: flex;
    align-items: center;
}

.avis .note .etoiles .lucide {
    height: 0.9rem;
    width: 0.9rem;
    color: var(--c-gray-300);
}

.avis .note .etoiles .checked {
    color: var(--c-accent-500);
}

.avis .note .valeur {
    margin-left: 0.5rem;
}

.avis .exemple-avis {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.avis .exemple-avis .titre-exemple {
    font-style: italic;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.unavis .ligne {
    margin: 8px;
    color: var(--c-accent-500);
}

article {
    margin: 10px;
}

.separateur {
    height: 2px;
    margin: 8px;
    color: var(--c-accent-500);
}
