section {
    margin: 20px;
}

.checked {
    color: var(--c-accent-500);
}

#sejour {
    display: grid;
    position: relative;
    width: 100%;
    padding: 1rem;
    border: 2px solid transparent;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    border-radius: 6px;
    gap: 1rem;
    transition: border 100ms;
}

#sejour #description {
    grid-column: 2/2;
    grid-row: 1/2;
    border: 2px solid;
    border-color: var(--c-accent-500);
    border-radius: 5px;
    padding: 10px;
}
#sejour #description .descriptionsej{
    margin: 15px;
}
#sejour #description .button{
    margin: 10px;
}
#sejour #description hr {
    height: 4px;
    background-color: var(--c-accent-500);
    margin: 0.5rem auto;
    width: 20%;
}
#sejour #description #categorie{
    display: flex;
    flex-wrap: wrap;
    font-style: italic;
    font-weight: bold;


}
#sejour .image {
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 8px;
    width: 100%;
}

.prix {
    margin: 15px;
}

#sejour #description .titre {
    margin: 10px;
    text-align: center;
}

#Etape{
    padding-left: 15px;

}
#Etape p{
    margin: 10px;

}
#Etape .image{
    margin: 10px;
    height: 75%;
    width: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.indispo{
    background-color: rgba(255, 0, 0, .5);
}

.save{
    justify-content: right;
}

.titreg {
    margin-left: 10px;
    grid-column: 2/2;
}

hr {
    height: 4px;
    background-color: var(--c-accent-500);
    margin: 0.5rem auto;
}

.descravis {
    margin: 10px;
}

#chateaux {
    display: grid;
    position: relative;
    width: 100%;

    border: 2px solid transparent;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    border-radius: 6px;
    gap: 1rem;
    transition: border 100ms;
}

#chateaux .unchateaux {
    margin: 10px;
    border-color: black;
}

#chateaux .unchateaux .imgchateaux {
    width: 30%;
    height: auto;
    border-radius: 8px;
    grid-row: 1 / 2;
}

#chateaux .unchateaux .descrchateaux {
    grid-row: 2 / 2;
    margin-top: 10px;
    margin-bottom: 10px;
}

#chateaux .unchateaux .lienchateaux {
    grid-row: 2 / 2;
}

#hebergements {
    display: grid;
    position: relative;
    width: 100%;

    border: 2px solid transparent;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    border-radius: 6px;
    gap: 1rem;
    transition: border 100ms;
}

#hebergements .hebergement {
    margin: 10px;
    border-color: black;
}

#hebergements .hebergement .imgheberg {
    width: 30%;
    height: auto;
    border-radius: 8px;
    grid-row: 1 / 2;
}

#hebergements .hebergement .descrheberg {
    grid-row: 2 / 2;
    margin-top: 10px;
    margin-bottom: 10px;
}

#hebergements .hebergement .lienheberg {
    grid-row: 2 / 2;
}
